@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./styles/ant-modal.css";
@import "./styles/ant-drawer.css";

:root {
  --background: #f4f8f8;
  --error: #e10500;
  --link: #00a9e1;
  --warning: #efa80f;
  --success: #0ba83e;
  --neutrals-1: #f2f2f2;
  --neutrals-2: #dbdbdb;
  --neutrals-3: #b5b5b5;
  --neutrals-4: #6e6e6e;
  --neutrals-5: #505050;
  --neutrals-6: #262626;
  --disable: #c2c2c2;
  --text-3: #b5b5b5;
  --text-2: #6e6e6e;
  --text-1: #262626;
  --brand_main: #0ba83e;
  --brand_1: #40adff;
  --brand_2: #5054fd;
  --brand_1_hover: #2f35fd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f4f8f8;
  }
}

body {
  background: var(--background);
}
